__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.venv/
.env
.env.*
.DS_Store
.coverage
.coverage.*
htmlcov/
dist/
build/
venv/

src/leak_detector/__pycache__/
src/kube_leak_detector.egg-info